.nina-logo {
    height: 73 px;
    width: 73 px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 110px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
    /* padding-left: 5%;
    padding-right: 5%; */
}

.nav-contact {
    padding: 20px 40px;
    border-radius: 50px;
    color: black;
    background:  rgba(0,255,230,1);
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.5s;
}

.nav-contact:hover{
    transform: scale(1.05);
}

.anchor-link {
    text-decoration: none;
    color: white;
}